
// Contacts section.


  ///////////////////////
 // 3D Box Styles //////
///////////////////////
@keyframes fadeInLeft3d {
	from {
		opacity: .01;
		transform: rotate3d(0,0,0,0) rotate(0deg);
	}

	to {
		opacity: .99;
		transform: $transform-3d-left;
	}
}
.fadeInLeft3d {
	animation-name: fadeInLeft3d;
	animation-fill-mode: forwards;
}

@keyframes fadeInRight3d {
	from {
		opacity: .01;
		transform: rotate3d(0,0,0,0) rotate(0deg);
	}

	to {
		opacity: .99;
		transform: $transform-3d-right;
	}
}
.fadeInRight3d {
	animation-name: fadeInRight3d;
	animation-fill-mode: forwards;
}

@keyframes fadeInRight3dBox {
	from {
		opacity: .01;
		transform: perspective(0) rotateY(0) rotateX(0) rotate(0);
	}

	to {
		opacity: .99;
		transform: $transform-3d-right-box;
	}
}
@keyframes fadeInRight3dBoxMobile {
	from {
		opacity: .01;
		transform: perspective(0) rotateY(0) rotateX(0) rotate(0);
	}

	to {
		opacity: .99;
		transform: $transform-3d-right-box-mobile;
	}
}
.fadeInRight3dBox {
	animation-name: fadeInRight3dBoxMobile;
	animation-fill-mode: forwards;
	@include lg {
		animation-name: fadeInRight3dBox;
	}
}
.box-3d-right {
    box-shadow: $shadow3;
    border-radius: 9px;
    will-change: transform;
    transition: all .25s $ease-in;

    @include lg {
        box-shadow: $shadow-3d-right;
        //transform: $transform-3d-right-box;
    }
}
.box-3d-left {
    box-shadow: $shadow3;
    border-radius: 9px;
    will-change: transform;
    transition: all .25s $ease-in;

    @include lg {
        box-shadow: $shadow-3d-left;
        transform: $transform-3d-left-box;
    }
}


.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	max-width: 100%;
	width: 100%;
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	-webkit-appearance: none;
    font-size: 1rem;
    font-family: $font-family-2;
    font-weight: 800;
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	padding: 0 1em;
	color: rgba(0,0,0,.4);
	font-weight: bold;
    font-size: .75rem;
    border-radius: 4px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

////////

.input--manami {
    display: flex;
    overflow: hidden;
    padding-top: 1.25rem;
}

.input__field--manami {
    width: 100%;
    height: 2.5rem;
	background: transparent;
    padding-top: .5em;
	color: $text-color;
	border: none !important;
	box-shadow: none !important;
	z-index: 100;
	opacity: 0;
}

.input__label--manami {
    width: 100%;
    height: 2.5rem;
	position: absolute;
	text-align: left;
    padding-top: .5em;
    background: rgba(0,0,0,.05);
	pointer-events: none;
    font-size: 1em;
    box-shadow: inset 0 1px rgba(0,0,0,.1), inset 0 -1px rgba(255,255,255,.95);
}

.input__label--manami::before,
.input__label--manami::after {
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
}

.input__label--manami::before {
	height: 100%;
    background: tint($primary-color, 85%);
    box-shadow: inset 0 1px rgba(0,0,0,.1), inset 0 -1px rgba(255,255,255,.95);
    border-radius: 4px;
	top: 0;
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
	transition: transform 0.2s $ease-in, opacity 0.2s $ease-in;
}

.input__field--manami:focus + .input__label--manami::before,
.input__field--manami:valid + .input__label--manami::before,
.input--filled .input__label--manami::before {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition-timing-function: $ease-out;
}

.input__label-content--manami {
    font-family: $font-family-2;
    color: rgba(0,0,0,.25);
	padding: 0;
	transform-origin: 0 0;
	transition: transform 0.2s $ease-in, opacity 0.2s $ease-in;
}

.input__field--manami:focus,
.input__field--manami:valid,
.input--filled .input__field--manami {
	opacity: 1;
	transition: opacity 0s 0.2s $ease-in;
}


.input__field--manami:focus + .input__label--manami .input__label-content--manami,
.input__field--manami:valid + .input__label--manami .input__label-content--manami,
.input--filled .input__label--manami .input__label-content--manami {
	color: rgba(0,0,0,.75);
    transform: translate3d(-.5rem, -1.5rem, 0) scale3d(0.65, 0.65, 1);
}

.input--manami textarea {
	min-height: 150px;
	box-shadow: none;

    & + label {
        min-height: 150px;
    }
}

.myForm {
    background: tint($primary-color, 95%);
    padding: .75rem 2rem 2rem;
	border-radius: 8px;
	
    form {
        margin-bottom: 0;
    }
    
    input[type="submit"] {
        width: 100%;
        margin-top: 1rem;
    }
}

.gotcha {
    display: none;
}


.contact {

	h1 {
		line-height: 1.2;
	}

	.external-links {
		font-size: 2.5rem;
		text-align: center;

		@include md {
			text-align: left;
		}

		a {
			margin-right: 1rem;
			opacity: .01;
		}
	}
}